@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151515;
  --primary-color: #8e8787;
  --secondary-color: #f9f9f9;
  --btn-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  --hero-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  --image-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.25);
  --uncover-color: rgba(249, 249, 249, 0.2);
  --about-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 20rem;
  --breakpoint-base: 23rem;
  --breakpoint-average: 86.875rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

button {
  cursor: pointer;
}

@layer utilities {
  .container {
    max-width: 100%;
    padding-inline: 1rem;
  }

  @media screen and (min-width: 320px) {
    .container {
      max-width: 100%;
      padding-inline: 0.75rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1440px;
      padding-inline: 3rem;
      margin: 0 auto;
    }
  }

  .hidden-safe {
    visibility: hidden;
    pointer-events: none;
  }

  .invisible-safe {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  .visible-safe {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease;
  }

  .flex-row-center {
    @apply flex justify-center items-center;
  }

  .flex-row-between {
    @apply flex justify-between items-center;
  }

  .flex-col-center {
    @apply flex justify-center items-center flex-col;
  }
  .flex-col-start {
    @apply flex justify-start items-start flex-col;
  }
}

@layer components {
  .reserve-btn {
    @apply font-bold font-[family-name:var(--font-inter)] w-35 py-2 px-2 rounded-4xl shadow-[var(--btn-shadow)] text-center;
  }

  .choose-btn {
    @apply border-[1px] px-3 py-2 rounded-4xl  font-bold font-[family-name:var(--font-inter)] text-center;
  }

  .advantages-card {
    @apply flex flex-col rounded-4xl bg-[#0B3A2C] py-5 px-5 gap-2;
  }

  .footer-btn {
    @apply text-white font-extrabold bg-[#054e37] rounded-4xl shadow-[var(--btn-shadow)]   uppercase w-40;
  }

  .form-field {
    @apply bg-[#F9F9F9] rounded-4xl py-2 px-4 w-full;
  }
}
